@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
	margin: 0px 0px 0px 0px;
	padding: 0;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

canvas {
	width: fit-content;
	height: 100%;
}

.cords {
	width: fit-content;
	box-sizing: border-box;
	line-height: 1;
	height: fit-content;
	padding: 20px;
	font-size: 50px;
	font-weight: 1000;
	border: 3px solid #c81069;
	color: #c81069;
}

.touch {
	align-content: space-around;
}

@media (min-width: 992px) {
	.touch {
		display: none;
	}
	.button-1,
	.button-1__btn,
	.button-2,
	.button-2__btn,
	.button-3,
	.button-3__btn,
	.button-4,
	.button-4__btn {
		display: none;
	}
}
@media (min-width: 1247px) {
	.cords {
	}
}
